<style type="text/css">
      canvas { border: 1px solid black; }
  </style>
<div id="diag"></img>
  <div id="canvas_diag"></div>
  <div id="log"></div>
  <script type="module">
    import {App} from "/assets/diagram.js"
    var app = new App("canvas_diag", 800, 600, {{.}})
    
  </script>

