</div> <!-- end of section started in header.tmpl -->
    <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Gabinet</strong> by <a href="https://kamilachyla.com">kamilachyla.com</a>. 
      </p>
    </div>
  </footer>
  </body>
</html>
