    <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Gabinet</strong> by <a href="https://kamilachyla.com">Kamila Chyla</a>. 
      </p>
    </div>
  </footer>
  </body>
</html>
