</div> <!-- end of section started in header.tmpl -->
    <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Aplikacja <strong>Gabinet</strong>:  <a href="https://kamilachyla.com">kamilachyla.com</a>. 
      </p>
      <p> Prosta aplikacja dla stomatologa</p>
    </div>
  </footer>
  </body>
</html>
