{{ template "header.tmpl" .}}
{{block "cont" . }}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Gabinet
      </h1>
      <p class="subtitle">
      Witam w gabinecie!
      </p>
    </div>
  </section>
{{ end }}
{{ template "footer.tmpl" .}}
