<form action="/newpatient" method="get">
<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">
      <span class="icon is-small">
        <i class="fas fa-user-friends"></i>
      </span>
      <span>Dodaj</span>
    </button>
  </div>
</div>
</form>
