
<table class="table">
  <thead>
    <th>Nr</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Akcja</th>
  </thead>
  <tbody>
    {{ range $r := .pat }}
      <tr 
       {{if $.curr  }}
       {{ if equal $r.Id $.curr.Id}} 
         class="is-selected" 
       {{end}}
       {{end}}
      >
        <th>
          {{ $r.Id }}
        </th>
        <td>{{$r.Name}}</td>
        <td>{{$r.Surname}}</td>
        <td><a href="{{$r.GetLink}}">Pokaż</a></td>
      </tr>
    {{end}}
   </tbody>
</table>


