{{ template "header.tmpl" .}}
{{ block "vis" . }}
  <div class="section">
      <h1 class="title">
        Wizyty
      </h1>
      <p class="subtitle">
      {{ if not .curr }}
      Lista wizyt 
      {{ else }}
        <a href="{{.curr.GetLink}}">{{.curr.Name}} {{.curr.Surname}}</a>
      {{end}}
      </p>
  </div>
  <div class="section">
    <div class="columns">
        <div class="column">
              <!--{{ template "search.tmpl" "visits_table" }}-->
              {{ template "vlist.tmpl" .}}
              {{ template "visit_add.tmpl" .}}
        </div>
        {{ if .currvis }}
        <div class="column">
          <form action={{.formdata.Action}} 
            method={{.formdata.Method}}>
          {{ template "visit.tmpl" .}}
          </form>
        </div>
        <div class="column">
          {{ template "diagram.tmpl" .states }}
        </div>
        {{end}}

      </div>
    </div>
{{ end }}
{{ template "footer.tmpl" .}}
