{{ template "header.tmpl" .}}
{{ block "vis" . }}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Wizyty
      </h1>
      <p class="subtitle">
      Lista wizyt
      </p>
    </div>
  </section>
{{ end }}
{{ template "footer.tmpl" .}}
