{{ $id := 0 }}
{{ if .curr }}
  {{ $id = .curr.Id }}
{{ end }}
{{ if .currvis }} 
  {{ $id = .currvis.PatientId }}
{{ end}}
{{ if $id }}
<form action="/patients/{{$id}}/visits/new" method="get">
<div class="field  is-grouped">
  <div class="control">
    <button class="button is-link">Dodaj</button>
  </div>
</div>
</form>
{{end}}
